.Iconsexample {
  display: block;
}
.wrapper {
  display: block;
}

/* Post Styles */
.wrapper_container {
  background: #fff;
  padding: 50px;
  width: 50%;
  margin: 40px auto;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
  font-family: "Work Sans", sans-serif;
}

.wrapper_heading {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #636363;
}
